
/*Navigation bar*/
.navbar
{
background-color:white;
width: 100%;
height: 100px;
}

/*second bar which contains home image, serach bar and calender,filter*/
.secondbar
{
width: 100%;
height: 60px;
}

/*container of three main boxes*/
.container{
  width: 100%;
  height: 450px;
  margin-top: 0;
}

body {
  background-image: url('./images/im.png');
background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Inter';

}


body {
margin:0;
}


/*logo*/
.logo
{
width: 220px;
height: 100px;
 margin-top:10px;
 margin-bottom:10px;
 margin-left:10px;
 margin-right:12px;
padding-left:60px;
}

/*butons*/
.b1
{
float:right;
margin-top: 35px;
margin-right: 80px;
margin-left:20px;
background-color:#C5DEEC;
border:none;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
width: 135px;
height: 35px;
font-size: 15px;
line-height: 22px;
}

.b2
{
float:right;
margin-top: 35px;
margin-right: 10px;
margin-left:35px;
background-color:#C5DEEC;
border:none;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
width: 135px;
height: 35px;
font-size: 15px;
line-height: 22px;

}

.b3
{
float:right;
margin-top: 35px;
margin-left: 35px;
background-color:#C5DEEC;
border:none;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
width: 135px;
height: 35px;
font-size: 15px;
line-height: 22px;
}

.b4
{
float:right;
margin-top: 35px;
margin-right: 4px;
background-color:#C5DEEC;
border:none;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
width: 135px;
height: 35px;
font-size: 15px;
line-height: 22px;
}

/*home image*/
.home{
float:left;
height: 39.650672912597656px;
width: 44px;
margin-left:65px;
margin-top:5px;
}

.cal{
  float: right;
  margin-right:70px;
  margin-top:0;
  
}

.filter{
  margin-top: 20px;
  margin-left: 86%;
}
/*boxes*/
.block3
{
  width: 400px;
    height: 400px;
    border: none;
    background-color: white;
    float:left;
    border-radius: 20px;
    margin-top:80px;
    
    
}
.block2
{
  width: 300px;
    height: 550px;
    border:none;
    background-color:#5D99BD;
    float: left;
    margin-right: 25px;
    border-radius: 20px;
    color: white;
   

}

.block1{
  
    width: 650px;
    height: 550px;
    border: none;
    background-color: white;
    color:#626060;
    float: left;
    margin-right: 25px;
    margin-left:65px;
    border-radius: 20px;

}

/*search bar means text box*/
.searchbar{
  background-color: white;
  border: none;
  outline: none;
  width:120px;
  height: fit-content;
}

/*whole search bar with text box and search icon*/
.sbar{
  width: 250px;
  color:#626060;
  height: 39.650672912597656px;
  background-color: white;
  border-radius: 25px;
  margin-left:120px;
  margin-top:25px;
}

.search{
  margin-left: 20px;
  margin-top:10px;
}


/*table block 1*/
.t1{
  color:#626060;
left: 114px;
top: 250px;
border:1px solid white;
  border-collapse: separate;
  border-spacing: 0 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 33px;
/* or 183% */

text-align: center;

}

th,
td {
  width: 150px;
  text-align: center;
  padding-left: 5px;
}

/*recent flights*/
.rf{
  
  text-align: center;
  width: 402px;
  height: 36px;
  left: 114px;
  top: 600px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  margin-left:120px;
  color: #626060;
}

.f{
  text-align: center;
  width: 402px;
  height: 36px;
  left: 114px;
  top: 407px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-left: 0px;
  color: white;
}
.bt{
  text-align: center;
width: 172px;
height: 36px;
left: 1104px;
top: 407px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
margin-left:120px;
color: #626060;

}

.tp{
left: 1104px;
top: 466px;
margin-left:135px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;

color: #626060;
}


.b5
{
margin-left: 80px;
background-color:white;
border:1px solid #626060 ;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
width:250px;
height: 40px;
font-size: 15px;
line-height: 22px;

color: #626060;
}

.b6
{
margin-left: 80px;
margin-top:5px;

color: #626060;
background-color:white;
border:1px solid #626060 ;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
width:250px;
height: 40px;
font-size: 15px;
line-height: 22px;
}

.b7
{
margin-left: 80px;
margin-top:5px;
background-color:white;
border:1px solid #626060 ;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
width:250px;
height: 40px;
font-size: 15px;

color: #626060;
text-align: center;
line-height: 22px;
}


.text1{
  text-align: center;
  color: #626060;
  font-family: 'Inter';

}
